.containerPosts {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;

  button {
    display: block;
    padding: 1rem 0.25rem;

    border-radius: 1rem;
    margin-top: 2.5rem;
    background: var(--background);
    border: 0;
    color: var(--highlight);
    transition: filter 0.5;
    &:hover {
      filter: brightness(0.8);
    }
  }
}

.content {
  max-width: 720px;
  margin: 1rem 0 auto;

  a {
    display: block;

    transition: color 0.5s;
    & + a {
      margin-top: 1.25rem;
      padding-top: 1.25rem;
      border-top: 1px solid var(--gray-800);
    }

    strong {
      display: block;

      font-size: 1.75rem;
      font-weight: 700;
      color: var(--heading);
      line-height: 2.12rem;
      letter-spacing: -0.5px;

      margin-top: 1rem;
      line-height: 2rem;
    }

    p {
      color: var(--body);
      margin: 0.5rem 0 2rem;
      font-size: 1.125rem;
    }

    span {
      font-size: 0.875rem;
      color: var(--info);
      margin-right: 1.25rem;
      svg {
        margin-right: 0.5rem;
        width: 20px;
        height: 20px;
      }
    }

    &:hover {
      color: var(--highlight);
    }
  }
}
