.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
  }
}
.content {
  max-width: 1120px;
  margin: 5rem auto;
  padding: 0 2rem;

  > strong {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.625rem;
    color: var(--heading);
    margin-bottom: 1.5rem;
  }
}

.body {
  margin-top: 4rem;
  > div {
    font-size: 1.125rem;
    h2 {
      font-size: 2.25rem;
      margin-bottom: 4rem;
    }
  }
}
